@font-face {
	font-display: swap;
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/proxima-nova_regular.otf) format(opentype);
}
@font-face {
	font-display: swap;
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 700;
	src: url(/fonts/proxima-nova_bold.otf) format(opentype);
}
@font-face {
	font-display: swap;
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 800;
	src: url(/fonts/proxima-nova_extrabold.otf) format(opentype);
}

/* --- */
@font-face {
	font-family: "icomoon";
	src: url("/fonts/icomoon/icomoon.eot?4d1gcf");
	src: url("/fonts/icomoon/icomoon.eot?4d1gcf#iefix")
			format("embedded-opentype"),
		url("/fonts/icomoon/icomoon.ttf?4d1gcf") format("truetype"),
		url("/fonts/icomoon/icomoon.woff?4d1gcf") format("woff"),
		url("/fonts/icomoon/icomoon.svg?4d1gcf#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
	/* font-display: block; */
	font-display: swap;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-telegram:before {
	content: "\e900";
}
.icon-youtube:before {
	content: "\e901";
}
.icon-vk:before {
	content: "\e902";
}
