/* |||||||||| |||||||||| |||||||||| |||||||||| xl */
@media (width <= 1400px) {
	.xl-grid-full-width {
		grid-column: 1 / -1;
	}
}

/* |||||||||| |||||||||| |||||||||| |||||||||| lg */
@media (width <= 1200px) {
}

/* |||||||||| |||||||||| |||||||||| |||||||||| md */
@media (width <= 992px) {
}

/* |||||||||| |||||||||| |||||||||| |||||||||| sm */
@media (width <= 768px) {
	.sm-d-none {
		display: none;
	}

	.sm-order-up {
		order: 1;
	}

	.sm-flow-row {
		grid-auto-flow: row;
	}

	.sm-flow-row .card-plain__img {
		--img-w: auto;
		--img-h: 15rem;
	}
}

/* |||||||||| |||||||||| |||||||||| |||||||||| xs */
@media (width <= 576px) {
	.xs-flow-row {
		grid-auto-flow: row;
	}

	.brand-logo {
		--logo-size: 7rem;

		position: absolute;
		top: 0.5em;
	}
}
