/* |||||||||| |||||||||| |||||||||| |||||||||| xxl */
@media (width <= 1600px) {
	.__slide-final::after {
		display: none;
	}
	/* |||||||||| utilities */
	.xxl-d-block {
		display: block;
	}
	.xxl-d-flex {
		display: flex;
	}
	.xxl-d-none {
		display: none;
	}
	.xxl-wrap-1 {
		flex-wrap: wrap;
	}
	.xxl-order-up {
		order: var(--order, 1);
	}
	.xxl-m-0 {
		margin: 0;
	}
	/* .xxl-oflow-auto {
		overflow: auto;
	} */
}

/* |||||||||| |||||||||| |||||||||| |||||||||| xl */
@media (width <= 1400px) {
	.chart {
		--x: 1;

		place-self: center;
	}
	/* |||||||||| utilities */
	.xl-order-0 {
		order: 0;
	}
	.xl-gaf-row {
		grid-auto-flow: row;
	}
	.xl-d-block {
		display: block;
	}
	.xl-d-none {
		display: none;
	}
	.xl-grow-0 {
		flex-grow: 0;
	}
}

/* |||||||||| |||||||||| |||||||||| |||||||||| lg */
@media (width <= 1200px) {
	/* |||||||||| utilities */
}

/* |||||||||| |||||||||| |||||||||| |||||||||| md */
@media (width <= 992px) {
	/* |||||||||| utilities */
}

/* |||||||||| |||||||||| |||||||||| |||||||||| sm */
@media (width <= 768px) {
	.sm-gaf-row .card-plain__img {
		--img-w: auto;
		--img-h: 15rem;
	}

	/* |||||||||| utilities */
	.sm-gaf-row {
		grid-auto-flow: row;
	}
	.sm-d-none {
		display: none;
	}
	.md-grow-1 {
		flex-grow: 1;
	}
}

/* |||||||||| |||||||||| |||||||||| |||||||||| xs */
@media (width <= 576px) {
	.brand-logo {
		--logo-size: 7rem;

		position: absolute;
		top: 0.5em;
	}

	/* |||||||||| utilities */
	.xs-gaf-row {
		grid-auto-flow: row;
	}
}
