:root {
	--ff-rg: "Proxima Nova", sans-serif;
	--fw-rg: 400;
	--fw-bd: 700;
	--fw-eb: 800;

	--fs-3xl: 5rem;
	--fs-2xl: 3.25rem;
	--fs-xl: 2rem;
	--fs-lg: 1.5rem;
	--fs-md: 1.25rem;
	--fs-rg: 1rem;
	--fs-sm: 0.875rem;

	--lh-xs: 0.9;
	--lh-sm: 1.2;
	--lh-rg: 1.4;
}

/* --- */
.fs-3xl {
	font-size: var(--fs-3xl);
	line-height: var(--lh-xs);
}
.fs-2xl {
	font-size: var(--fs-2xl);
	line-height: var(--lh-xs);
}
.fs-xl {
	font-size: var(--fs-xl);
	line-height: var(--lh-xs);
}
.fs-lg {
	font-size: var(--fs-lg);
	line-height: var(--lh-sm);
}
.fs-md {
	font-size: var(--fs-md);
	line-height: var(--lh-sm);
}
.fs-rg {
	font-size: var(--fs-rg);
	line-height: var(--lh-rg);
}
.fs-sm {
	font-size: var(--fs-sm);
	line-height: var(--lh-sm);
}

/* --- */
.fw-rg {
	font-weight: var(--fw-rg);
}
.fw-bd {
	font-weight: var(--fw-bd);
}
.fw-eb {
	font-weight: var(--fw-eb);
}

/* --- */
.caps {
	text-transform: uppercase;
}

.ital {
	font-style: italic;
}
