.slide {
	/* --radius: 1rem; */

	counter-increment: slide-counter;
	background-color: var(--clr-bg, initial);
	position: relative;
	padding-block: 4rem;
	-ms-overflow-style: none;
	scrollbar-width: none;
	background-image: var(--slide-img, none);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	row-gap: 4rem;

	grid-auto-rows: min-content 1fr;
	align-items: center;
}

/* top right beam */
.slide::before {
	position: absolute;
	content: "";
	top: -1.25rem;
	right: 0;
	z-index: 2;
	clip-path: polygon(100% 0, 0 70%, 100% 30%);
	width: 6rem;
	aspect-ratio: 1;
	background-image: linear-gradient(
		80deg,
		hsl(var(--clr-1b)) 0,
		hsl(var(--clr-1a)) 100%
	);
}

.slide-ttl {
	--col: 3;
	--x: 2;

	max-width: fit-content;
	display: grid;
	grid-auto-rows: min-content;
	row-gap: 0.5em;
}

.slide__top-group {
	display: flex;
	justify-content: space-between;
	/* align-items: baseline; */
	gap: 2em;
}
.slide__top-group .brand-logo {
	--logo-size: 14rem;

	margin-left: auto;
	margin-top: 0.5rem;
}
