.__slide-12 {
	--clr-bg: hsl(var(--clr-0b));
	--clr-solid: hsl(var(--clr-0a));

	/* grid-auto-rows: min-content auto auto; */
}

.__slide-12 .width-x {
	--col: 3;
	--x: 2;

	place-self: center;
	display: grid;
	row-gap: 4em;
}
