.__slide-11 {
	--clr-bg: hsl(var(--clr-0b));
	--clr-solid: hsl(var(--clr-0a));
	--overlay: linear-gradient(
		90deg,
		hsl(0, 0%, 0%, 0) 50%,
		hsl(0, 0%, 0%, 0.5) 75%,
		hsl(0, 0%, 0%, 1) 100%
	);
	--slide-img: var(--overlay), url(/images/slide-bgs/skyscrapper.webp);
}

.__slide-11 .flex-x {
	--col: 3;
	--gap-x: 2rem;
	--gap-y: 6rem;
}

.__slide-11-list > *:nth-child(2) .img-box {
	place-self: center;
}
.__slide-11-list > *:nth-child(3) .img-box {
	place-self: end;
}

.__slide-11-list,
.__slide-11-text {
	--img-size: 2.5rem;
	--gap-y: 2rem;
	--clr-1b-1a: linear-gradient(
		30deg,
		hsl(var(--clr-1b), 0.5) 0,
		hsl(var(--clr-1a), 0.5) 100%
	);

	padding: var(--gap-y);
}

.__slide-11-chart {
	--img-w: auto;
	--img-h: auto;
	--img-size: 30rem;

	min-height: var(--img-size);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| */
@media (width <= 992px) {
	.__slide-11-chart {
		--img-size: 20rem;
	}
}
@media (width <= 768px) {
	.__slide-11-chart {
		--img-size: 15rem;
	}
}
