.__slide-9 {
	--clr-bg: hsl(var(--clr-0a));
	--clr-solid: hsl(var(--clr-0b));

	background-image: url(/images/bg-light-bulbs.svg);
	background-position: left 10% bottom -70%;
	background-size: 25%;
}

.__slide-9 .cards-framed {
	--col: 4;
	--img-size: 1em;

	/* place-self: center; */
}
