.__slide-10 {
	--clr-bg: hsl(var(--clr-0a));
	--clr-solid: hsl(var(--clr-0b));
}

.__slide-10 .slide-grid {
	--col: 5;
	--gap-x: 2rem;
	--gap-y: 2rem;
}

.__slide-10 .slide__top-group {
	--span-x: 4;
}

.__slide-10 .cards-framed {
	--img-size: 6rem;

	grid: subgrid;
	display: contents;
}

.__slide-10 .card-framed {
	/* margin-bottom: auto; */
}

.__slide-10 .cards-plain {
	--gap-y: 2em;
}

.__slide-10 .txt-bg {
	--span-y: 3;

	padding: var(--gap-y);
}

.__slide-10 .card-framed.span-x {
	--span-x: 2;
}

.test-img {
	--img-w: auto;
	--img-h: auto;
	--img-size: 15rem;
	--span-x: 2;

	min-height: var(--img-size);
}
