.__slide-4 {
	--clr-bg: hsl(var(--clr-0b));
	--clr-solid: hsl(var(--clr-0a));
	--url: url(/images/slide-bgs/heroes.webp);
}

.__slide-4 .cards-plain {
	--col: 4;
	/* --x: 3; */

	place-self: center;
}

.__slide-4 .bg-gradient {
	max-width: 25ch;
	padding: 0.5em 0.75em;
	place-self: start;
}
