.bar-chart {
	--segment-size: 8cqi;
	--figure-size: calc(var(--segment-size) * 2);
	--equal: calc(var(--gap-x) * 0.75);
	--gap-x: 0.25em;
	--gap-y: var(--equal);
	--bar-bg: linear-gradient(
		30deg,
		hsl(var(--clr-1b), 0.5) 0,
		hsl(var(--clr-1a), 0.5) 100%
	);
	--gap-color: hsl(var(--clr-0b));
	--scale: 0.8;

	display: grid;
	gap: var(--gap-y);
	font-weight: var(--fw-bd);
	font-size: 1rem;
	text-shadow: 1px 1px 1px hsl(var(--clr-0b));
	padding: 1.5em;
}
.bar-chart .bar {
	--bar-items: var(--item-x);
	--bar-value-fr: 0;

	padding: 0.5em 6em 0.5em 1.5em;
	position: relative;
	overflow: hidden;
	display: grid;
	place-items: center start;
	border-radius: 100vw;
}
.bar-chart .bar::before {
	position: absolute;
	content: "";
	place-self: center;
	border-top: var(--figure-size) solid transparent;
	border-bottom: var(--figure-size) solid transparent;
	border-left: var(--figure-size) solid hsl(var(--clr-0b));
	right: 100%;
	filter: var(--bar-items);
}

.bar-chart .bar::after {
	counter-reset: value var(--bar-value-int) fraction var(--bar-value-fr);
	position: absolute;
	right: 0;
	height: 100%;
	aspect-ratio: 3 / 1;
	transform: scale(var(--scale)) translateX(7%);
	border-radius: 100vw;
	display: grid;
	place-items: center;
	background: var(--bar-bg);
	outline: 0.325em solid hsl(var(--bar-color));
	line-height: 1;
}

/* |||||||||| |||||||||| |||||||||| |||||||||| */
.bar-chart p {
	z-index: 1;
}

/* |||||||||| |||||||||| |||||||||| |||||||||| */
.-bar-bg .bar {
	background: var(--bar-bg);
}
.-bar-bg .bar::after {
	background: var(--gap-color);
	outline: none;
}

/* |||||||||| |||||||||| |||||||||| |||||||||| */
.-legend-top .bar::after {
	outline: none;
	transform: none;
	aspect-ratio: 4 / 1;
	background: hsl(var(--bar-color));
	font-size: calc(var(--scale) * 1em);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| */
.-solid {
	--figure-size: 100cqi;
}
.-solid .bar {
	--item-x: drop-shadow(var(--segment-size) 0 0 hsl(var(--bar-color)));
	--segment-size: calc(
		(var(--bar-value-int) * 1cqi + var(--bar-value-fr) * 0.1cqi) / 2
	);
}
.-solid .bar::after {
	content: counter(value) "." counter(fraction) "%";
}

/* |||||||||| |||||||||| */
.-solid :nth-child(1 of .bar) {
	--bar-value-int: 25;
	--bar-color: var(--clr-2a);
}
.-solid :nth-child(2 of .bar) {
	--bar-value-int: 25;
	--bar-value-fr: 5;
	--bar-color: var(--clr-2d);
}
.-solid :nth-child(3 of .bar) {
	--bar-value-int: 50;
	--bar-color: var(--clr-2g);
}
.-solid :nth-child(4 of .bar) {
	--bar-value-int: 75;
	--bar-color: var(--clr-2i);
}
.-solid :nth-child(5 of .bar) {
	--bar-value-int: 100;
	--bar-color: var(--clr-2b);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| */
.-segmented .bar {
	--item-1: drop-shadow(
			calc(var(--segment-size) * 1.1) 0 0 hsl(var(--bar-color))
		)
		drop-shadow(var(--gap-x) 0 0 var(--gap-color));
	--item-x: drop-shadow(var(--segment-size) 0 0 hsl(var(--bar-color)))
		drop-shadow(var(--gap-x) 0 0 var(--gap-color));
	--item-f: drop-shadow(
			calc(var(--segment-size) * var(--bar-value-fr) * 0.01) 0 0
				hsl(var(--bar-color))
		)
		drop-shadow(var(--gap-x) 0 0 var(--gap-color));
}
.-segmented .bar::after {
	content: "x" counter(value) "." counter(fraction);
}

/* |||||||||| |||||||||| */
.-segmented :nth-child(1 of .bar) {
	--bar-value-int: 1;
	--bar-value-fr: 25;
	--bar-color: var(--clr-2a);
	--bar-items: var(--item-1) var(--item-f);
}
.-segmented .bar:nth-child(2 of .bar) {
	--bar-value-int: 2;
	--bar-value-fr: 50;
	--bar-color: var(--clr-2d);
	--bar-items: var(--item-1) var(--item-x) var(--item-f);
}
.-segmented .bar:nth-child(3 of .bar) {
	--bar-value-int: 3;
	--bar-value-fr: 75;
	--bar-color: var(--clr-2g);
	--bar-items: var(--item-1) var(--item-x) var(--item-x) var(--item-f);
}
.-segmented .bar:nth-child(4 of .bar) {
	--bar-value-int: 5;
	--bar-value-fr: 33;
	--bar-color: var(--clr-2i);
	--bar-items: var(--item-1) var(--item-x) var(--item-x) var(--item-x)
		var(--item-x) var(--item-f);
}
.-segmented .bar:nth-child(5 of .bar) {
	--bar-value-int: 4;
	--bar-value-fr: 66;
	--bar-color: var(--clr-2b);
	--bar-items: var(--item-1) var(--item-x) var(--item-x) var(--item-x)
		var(--item-f);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| */
.stacked-charts {
	display: grid;
	row-gap: 0.35em;
	padding: 1.5em;
	font-weight: var(--fw-bd);
	font-size: 1rem;
	text-shadow: 1px 1px 1px hsl(var(--clr-0b));
}

.stacked-charts p {
	margin-top: 0;
	margin-left: 2em;
}

.stacked-chart {
	--figure-size: 100cqi;
	--shift: 2em;
	--gap-color: var(--clr-0b);
	--gap-width: 0.25em;

	grid-template-columns:
		calc(var(--value-1) * 1%)
		calc(var(--value-2) * 1%)
		calc(var(--value-3) * 1%)
		calc(var(--value-4) * 1%)
		calc(var(--value-5) * 1%);

	margin: 0;
	display: grid;
	grid-auto-flow: column;
	position: relative;
	border-radius: 100vw;
}
.stacked-chart::after {
	position: absolute;
	content: "";
	right: 0;
	height: 100%;
	aspect-ratio: 1;
	background-image: var(--chart-icon);
	background-size: contain;
	background-repeat: no-repeat;
	/* padding-right: calc(var(--shift) * 4); */
}

.stacked-chart > * {
	counter-reset: value var(--segment-value);
	position: relative;
	padding-block: 2em;
	position: relative;
	overflow: hidden;
	display: grid;
}
.stacked-chart > *::before {
	position: absolute;
	content: "";
	place-self: center end;
	right: var(--gap-width);
	border-top: var(--figure-size) solid transparent;
	border-bottom: var(--figure-size) solid transparent;
	border-left: var(--figure-size) solid hsl(var(--segment-color));
	filter: drop-shadow(var(--gap-width) 0 0 hsl(var(--gap-color)));
}

.stacked-chart > *::after {
	position: absolute;
	content: counter(value) "%";
	place-self: center;
	right: 2em;
	font-size: 1.25em;
	font-weight: var(--fw-eb);
	transform: rotate(-45deg) translateY(75%) translateX(25%);
}

.stacked-chart > :nth-child(1) {
	--segment-color: var(--color-1);
	--segment-value: var(--value-1);

	border-radius: 100vw;
}
.stacked-chart > :nth-child(2) {
	--segment-color: var(--color-2);
	--segment-value: var(--value-2);

	right: calc(var(--shift) * 1);
	z-index: -1;
}
.stacked-chart > :nth-child(3) {
	--segment-color: var(--color-3);
	--segment-value: var(--value-3);

	right: calc(var(--shift) * 2);
	z-index: -2;
}
.stacked-chart > :nth-child(4) {
	--segment-color: var(--color-4);
	--segment-value: var(--value-4);

	right: calc(var(--shift) * 3);
	z-index: -3;
}
.stacked-chart > :nth-child(5) {
	--segment-color: var(--color-5);
	--segment-value: var(--value-5);

	right: calc(var(--shift) * 4);
	z-index: -4;
}

#stacked-chart-1 {
	--value-1: 8;
	--color-1: var(--clr-2i);
	--value-2: 21;
	--color-2: var(--clr-2a);
	--value-3: 32;
	--color-3: var(--clr-2d);
	--value-4: 12;
	--color-4: var(--clr-2g);
	--value-5: 27;
	--color-5: var(--clr-2b);
	--chart-icon: url(/public/images/icons/icon-bus-09-w.svg);
}
#stacked-chart-2 {
	--value-1: 27;
	--color-1: var(--clr-2i);
	--value-2: 10;
	--color-2: var(--clr-2a);
	--value-3: 13;
	--color-3: var(--clr-2d);
	--value-4: 34;
	--color-4: var(--clr-2g);
	--value-5: 16;
	--color-5: var(--clr-2b);
	--chart-icon: url(/public/images/icons/icon-apr-36-w.svg);
}
