.bar-chart {
	--figure-size: 100dvh;
	--item-size: 10dvw;
	--equal: calc(var(--gap-x) * 0.75);
	--gap-x: 0.3em;
	--gap-y: var(--equal);
	--scale-bg: linear-gradient(
		30deg,
		hsl(var(--clr-1b), 0.5) 0,
		hsl(var(--clr-1a), 0.5) 100%
	);
	--gap-clr: hsl(var(--clr-0b));

	display: grid;
	gap: var(--gap-y);
	font-weight: var(--fw-bd);
	font-size: 1rem;
	text-shadow: 1px 1px 1px hsl(var(--clr-0b));
}
.bar-chart > * {
	--item-1: drop-shadow(calc(var(--item-size) * 1.1) 0 0 hsl(var(--item-clr)))
		drop-shadow(var(--gap-x) 0 0 var(--gap-clr));
	--item-x: drop-shadow(var(--item-size) 0 0 hsl(var(--item-clr)))
		drop-shadow(var(--gap-x) 0 0 var(--gap-clr));
	--item-f: drop-shadow(
			calc(var(--item-size) * var(--fraction)) 0 0 hsl(var(--item-clr))
		)
		drop-shadow(var(--gap-x) 0 0 var(--gap-clr));
	--item-all: var(--item-x);

	padding: 0.5em 6em 0.5em 1.5em;
	position: relative;
	overflow: hidden;
	display: grid;
	place-items: center start;
	border-radius: 100vw;
}
.bar-chart > *::before {
	position: absolute;
	content: "";
	place-self: center;
	border-top: var(--figure-size) solid transparent;
	border-bottom: var(--figure-size) solid transparent;
	border-left: var(--figure-size) solid hsl(var(--clr-0b));
	right: 100%;
	filter: var(--item-all);
}

.bar-chart > *::after {
	position: absolute;
	content: var(--item-val);
	right: 0;
	height: 100%;
	aspect-ratio: 1.5 / 1;
	transform: scale(0.8) translateX(5%);
	border-radius: 100vw;
	display: grid;
	place-items: center;
	background: var(--scale-bg);
	outline: var(--gap-x) solid hsl(var(--item-clr));
}

/* --- */

.bar-chart > * > * {
	z-index: 1;
}

/* --- */

.-bar-bg > * {
	background: var(--scale-bg);
}
.-bar-bg > *::after {
	background: var(--gap-clr);
	outline: none;
}

/* --- */

.-solid > *:nth-child(1) {
	--item-val: "16%";
	--item-size: 16dvw;
	--item-clr: var(--clr-2a);
}
.-solid > *:nth-child(2) {
	--item-val: "24%";
	--item-size: 24dvw;
	--item-clr: var(--clr-2d);
}
.-solid > *:nth-child(3) {
	--item-val: "32%";
	--item-size: 32dvw;
	--item-clr: var(--clr-2g);
}
.-solid > *:nth-child(4) {
	--item-val: "12%";
	--item-size: 12dvw;
	--item-clr: var(--clr-2i);
}
.-solid > *:nth-child(5) {
	--item-val: "4%";
	--item-size: 4dvw;
	--item-clr: var(--clr-2b);
}

/* --- */
.-segmented > *:nth-child(1) {
	--fraction: 0.25;
	--item-val: "x1.25";
	--item-clr: var(--clr-2a);
	--item-all: var(--item-1) var(--item-f);
}
.-segmented > *:nth-child(2) {
	--fraction: 0.5;
	--item-val: "x2.5";
	--item-clr: var(--clr-2d);
	--item-all: var(--item-1) var(--item-x) var(--item-f);
}
.-segmented > *:nth-child(3) {
	--fraction: 0.75;
	--item-val: "x3.75";
	--item-clr: var(--clr-2g);
	--item-all: var(--item-1) var(--item-x) var(--item-x) var(--item-f);
}
.-segmented > *:nth-child(4) {
	--fraction: 0.33;
	--item-val: "x5.33";
	--item-clr: var(--clr-2i);
	--item-all: var(--item-1) var(--item-x) var(--item-x) var(--item-x)
		var(--item-x) var(--item-f);
}
.-segmented > *:nth-child(5) {
	--fraction: 0.66;
	--item-val: "x4.66";
	--item-clr: var(--clr-2b);
	--item-all: var(--item-1) var(--item-x) var(--item-x) var(--item-x)
		var(--item-f);
}
