.beam-1,
.beam-2 {
	overflow: hidden;
	z-index: 1;
}
.beam-1::after,
.beam-2::after {
	position: absolute;
	content: "";
	width: 200%;
	aspect-ratio: 1;
	pointer-events: none;
}

.beam-1::after {
	top: -5rem;
	right: -5rem;
	clip-path: polygon(100% 0, 0 40%, 0 100%);
	background-image: linear-gradient(
		to left,
		hsl(var(--clr-1b), 0.5) 20%,
		hsl(var(--clr-1a), 1) 60%
	);
}

.beam-2::after {
	top: 20rem;
	left: -10rem;
	clip-path: polygon(0 0, 100% 15%, 100% 45%);
	background-image: linear-gradient(
		to right,
		hsl(var(--clr-1b), 0.75) 20%,
		hsl(var(--clr-1a), 0.5) 50%
	);
	/* mix-blend-mode: color-dodge; */
}
