.bulleted-list li {
	display: grid;
	column-gap: 1em;
	grid-template-columns: min-content 1fr;
}

.bulleted-list li::before {
	content: "";
	background-color: hsl(var(--clr-1b));
	width: 0.5em;
	aspect-ratio: 1;
	margin-top: 0.5em;
}

.bulleted-list li + li {
	margin-top: 0.4em;
}

:where(.bulleted-list ul, .bulleted-list p) {
	grid-column: 2;
}

.bulleted-list p + p {
	margin-top: 0.25em;
}

.bulleted-list ul li + li {
	margin-top: 0.2em;
}

.bulleted-list ul li::before {
	width: 0.333em;
}
