.cards-plain {
	--col: 4;
	--gap-x: 3em;
	--gap-y: 4em;
	--inner-gap: 1.5em;
	--img-size: 5em;

	grid-auto-rows: min-content;
}

.cards-plain:not(:last-child, :only-child) {
	margin-bottom: var(--gap-y);
}

.card-plain {
	display: grid;
	gap: var(--inner-gap);
	grid-auto-flow: var(--card-gaf, row);
	grid-template-columns: var(--card-gtc, none);
	grid-auto-rows: min-content;
}

.flow-col.card-plain {
	grid-auto-rows: auto;
}

.flow-col .card-plain__img {
	--img-w: min(10rem, 20vw);
	--img-h: auto;
	--pos: 75% center;
}

.-ttl-aside,
.-ttl-aside .card-plain {
	--card-gtc: min-content 1fr;
	--span-x: 2;
}

.card-plain__body {
	grid-column: span var(--span-x, auto);
}
.card-plain__body .card-plain__ttl {
	margin-bottom: 0.3em;
}

.card-plain__ttl {
	place-self: center start;
}

.card-plain__img {
	--img-w: auto;
	--img-h: 15rem;

	grid-column: auto;
	color: var(--clr-solid, hsl(var(--clr-0a)));
	display: flex;
	justify-content: space-between;
}

.card-plain__img figcaption {
	z-index: 1;

	margin: 0.5em 0.75em;
	place-self: end;
}
.card-plain__img figcaption.-txt-vertical-left {
	margin: 0.75em 0.5em;
	writing-mode: vertical-rl;
	transform: scale(-1);
}

.card-plain__img .icon-bg {
	--img-h: 2rem;

	margin: 0.75em 0.5em;
}

/* |||||||||| |||||||||| |||||||||| |||||||||| */
.cards-plain.-list-icon {
	--card-gtc: min-content;
	--gap-y: 1em;
	--inner-gap: 1.5em;
	--img-h: 3rem;
	--img-w: auto;
	--radius: none;
}

.-list-icon .card-plain {
	--card-gtc: var(--img-h) 1fr;
}
.-list-icon .card-plain > * {
	grid: subgrid;
}
.-list-icon .card-plain__body {
	margin: auto 0;
}

.check-mark {
	--asp: 481.28 / 413.28;
}
.cross-mark {
	transform: translateX(-5%) translateY(5%) scale(1.05);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| */
/* .card-plain.-framed {
	z-index: 1;
	position: relative;
	border: var(--card-border, 0.5rem) solid transparent;
	padding: var(--inner-gap, 1.5em);
}
.card-plain.-framed::before {
	position: absolute;
	content: "";
	background-image: var(--clr-1b-1a);
	inset: calc(var(--card-border, 0.5rem) * -1);
	z-index: -2;
}
.card-plain.-framed::after {
	content: "";
	position: absolute;
	inset: 0;
	background-color: var(--clr-bg);
	z-index: -1;
} */

.ordered-list.cards-plain .img-box {
	background-color: initial;
}
