.list-bullet li {
	display: grid;
	column-gap: 1em;
	grid-template-columns: min-content 1fr;
}

.list-bullet li::before {
	content: "";
	background-color: hsl(var(--clr-1b));
	width: 0.5em;
	aspect-ratio: 1;
	margin-top: 0.5em;
}

.list-bullet li + li {
	margin-top: 0.4em;
}

:where(.list-bullet ul, .list-bullet p) {
	grid-column: 2;
}

.list-bullet p + p {
	margin-top: 0.25em;
}

.list-bullet ul li + li {
	margin-top: 0.2em;
}

.list-bullet ul li::before {
	width: 0.333em;
}
