.ordered-list {
	counter-reset: list-counter 0;
}

.ordered-list > * {
	counter-increment: list-counter;
}

.ordered-list .img-box {
	--img-size: max-content;

	z-index: 1;
}
.ordered-list .img-box::before {
	content: "/" counter(list-counter) ".";
	font-family: var(--ff-rg);
	font-weight: var(--fw-eb);
	color: var(--clr-solid, hsl(var(--clr-0b), 1));
}
