.txt-link {
	--link-clr: hsl(var(--clr-1a));

	position: relative;
	color: var(--link-clr);
}
.txt-link::before {
	position: absolute;
	content: "";
	width: 0;
	height: 1px;
	bottom: -0.05em;
	background-color: var(--link-clr);
	transition: width 0.1s;
}
.txt-link:where(:focus-visible, :hover)::before {
	width: 100%;
}
